# Ignore LaTeX files
*.tex
*.aux
*.log
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.out

# Ignore bitmap image files
*.png
*.jpg
*.jpeg
*.gif

# Track PDF files
!*.pdf

# Ignore files under ocr_output
ocr_output/*